services:
  php-fpm:
    container_name: laravel_app
    build:
      context: .
      dockerfile: ./docker/php-fpm/Dockerfile
    volumes:
      - /mnt/apache:/usr/local/apache2/htdocs
    networks:
      - red_app
      - infra_db

  webserver:
    build:
      context: ./docker/apache
      dockerfile: Dockerfile
    container_name: laravel_server
    ports:
      - "8080:80"
    volumes:
      - /mnt/apache:/usr/local/apache2/htdocs:ro
      - /mnt/apache/docker/apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
    depends_on:
      - php-fpm
    networks:
      - red_app
    # restart: always

networks:
  red_app:
    driver: bridge
  infra_db:
    external: true